<div class="container">
    <div class="footTop">
        <section class="left">
            <div class="logo">
                <img src="../assets/Images/E-scents-logo-2-removebg-preview.png" alt="">
            </div>
            <div class="about">
                <p>E-Scents is one of the nation’s largest retailers of genuine designer fragrances. Our stores offer the widest selection of designer perfumes and fragrances at the most affordable prices.</p>
            </div>
           
        </section>

        <section class="right">
            <ul>
                <h3>Fragrances</h3>
                <a routerLink="/men-colognes"><li>Men</li></a>
                <a routerLink="/women-perfumes"><li>Women</li></a>
                <a routerLink="/unisex-fragrances"><li>Unisex</li></a>
                <a routerLink="/brands"><li>Brands</li></a>
                <!-- <li>Celebrity Fragrances</li>
                <li>Best Sellers</li> -->
            </ul>
            <ul>
                <h3>Account</h3>
                <li>Subscribe</li>
                <a routerLink="/cart"><li>Cart</li></a>
                <a routerLink="/admin"><li>Admin</li></a>
            </ul>
            <ul>
                <h3>Info</h3>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
            </ul>
        </section>
    </div>
    <div class="icons">
        <ul class="social">
            <li><img src="../assets/Images/icons8-facebook-64.png" alt=""></li>
            <li><img src="../assets/Images/icons8-twitter-64.png" alt=""></li>
            <li><img src="../assets/Images/icons8-pinterest-64.png" alt=""></li>
            <li><img src="../assets/Images/icons8-instagram-64.png" alt=""></li>
        </ul>
        <ul class="payment">
            <li><img src="https://cdn.shopify.com/s/files/1/0269/7763/2389/files/paypal-fill_4412bc5c-550e-403d-94d4-931efab56a5a.svg?v=1633339115" alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0269/7763/2389/files/visa-fill_c92a3ffe-e7a6-4646-b318-0f81da568738.svg?v=1633339115" alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0269/7763/2389/files/discover-fill_963d2c74-c283-4100-a58c-dd37414314b3.svg?v=1633339115" alt=""></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0269/7763/2389/files/mastercard-fill_03ca5328-b94e-4e5e-901e-0a82b4d1036b.svg?v=1633339115" alt=""></li>
        </ul>
    </div>
    <div class="copyright">
        <p>© All rights reserved. E-Scents 2022</p>
    </div>
</div>