
.container{
    width: 100vw;
    /* height: 100vh; */
}

.go-back-link{
    width: fit-content;
    /* text-align: center; */
    margin: 4vw  0 0 8vw;
    padding: 0.7vw 1vw;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid rgba(28, 113, 147, 0.411);
    color: rgba(13, 81, 108, 0.87);
    /* margin-top: 1vw; */
    cursor: pointer;
    transition: 0.1s;
}

.go-back-link i{
    margin-right: 0.5vw;
}

.go-back-link:hover{
    /* text-decoration: underline; */
    /* color: rgb(28, 114, 147); */
    border: 1px solid rgba(28, 113, 147, 0);
    background-color: rgb(0, 2, 2);
    color: white;
    opacity: 0.8;
}

/* .heading{
    width: fit-content;
    font-size: 2.5vw;
    font-weight: 500;
    margin: 2vw;
}
.heading::after{
    content: "";
    height: 0.3vw;
    width: 3vw;
    margin: 0.3vw 0 0 0;
    background: rgb(28, 114, 147); 
    display: block;
} */

.container .flexBx{
    width: 100vw;
    /* margin-top: 5vw; */
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.flexBx .left, .flexBx .right{
    width: 40%;
    padding-right: 2vw;
}

.left img{
    width: 85%;
    float: right;
    /* border: 1px solid red; */

}

.right{
    padding-top: 4vw;
}

.prodName{
    margin-bottom: 2vw;
    
    font-size: 2vw;
}

.prodBrand{
    font-size: 1.1vw;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.prodDesc{
    width: 50%;
    color: rgb(100, 100, 100); 
    font-size: 0.9vw;
    margin: 1vw 0;
}

.prodPrice{
    color: rgb(28, 114, 147) ;
    font-size: 1.8vw;
    font-weight: 700;
    margin: 2vw 0 1vw 0;
}

.prodSize{
    font-size: 1vw;
}

.prodSize span{
    font-weight: 600;
    font-size: 0.9vw;
}

.prodGender{
    margin-top: 0.5vw;
    font-size: 1vw;
}

.prodGender span{
    font-weight: 600;
    font-size: 0.9vw;
}

.detailsBtn{
    font-size: 1.1vw;
    font-weight: 600;
    padding: 1.1vw 5vw;
    background: rgb(28, 114, 147);
    color: white;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    border: none;
    margin: 5vw 0 1vw 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsBtn:hover{
    background-color: black;
}

.detailsBtn .fa-cart-plus{
    margin-right: 1vw;
}



.sect9{
    width: 100vw;
    height: 30vw;
    margin: 2vw auto;
    background: url('https://cdn.shopify.com/s/files/1/0269/7763/2389/files/newsletter_banner.jpg?v=1636134871');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect9 .newsletterContain{
    text-align: center;
}

.sect9 .newsletterContain h1{
    font-size: 2.5vw;
    margin-bottom: 1vw;

}

.newsletterContain h1 span{
    font-weight: 400;
}

.sect9 .newsletterContain p{
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

.newsletterContain .newsletterInput{
    height: 3vw;
}

.newsletterInput input{
    height: 100%;
    width: 30vw;
    font-size: 1.1vw;
    padding-left: 1vw;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(117, 117, 117);
}

.newsletterInput button{
    height: 100%;
    width: 10vw;
    font-size: 1.1vw;
    color: white;
    background: black;
    border-radius: 0 3px 3px 0;
    border: 1px solid rgb(138, 138, 138);
    border-left: none;
    cursor: pointer;
}


