

.container{
    width: 100vw;
    padding-bottom: 3vw;    
}

.go-back-link{
    width: fit-content;
    /* text-align: center; */
    margin: 2vw  0 2vw 8vw;
    font-weight: 500;
    /* margin-top: 1vw; */
    cursor: pointer;
    transition: 0.1s;
}

.go-back-link i{
    margin-right: 0.5vw;
}

.go-back-link:hover{
    text-decoration: underline;
    color: rgba(48, 39, 210, 0.73);
}

.heading-bx{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    width: fit-content;
    font-size: 2.5vw;
    font-weight: 500;
    padding-right: 30vw;
    margin: 3vw auto 4vw auto;
    /* border: 1px solid red; */
}

.heading::after{
    content: "";
    height: 0.3vw;
    width: 3vw;
    margin: 0.3vw 0 0 0;
    background: rgb(28, 114, 147); 
    display: block;
}

.container .flexBx{
    width: 100vw;
    display: flex;
}

.left{
    width: 65%;
    padding-left: 4vw;
}

.left .cartProds{
    width: 90%;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.imgBx{
    width: 7vw;
}

.imgBx img{
    width: 100%;
    height: 100%;
}

.prodName{
    font-size: 1.1vw;
}

.prodBrand{
    font-size: 1vw;
    font-weight: 500;
}

.cartProds input{
    width: 2vw;
    height: 1.8vw;
    margin: 0 1vw;
    font-size: 1vw;
    /* padding-left: 0.4vw; */
}

.dec, .inc{
    width: 20%;
    /* padding: 0.1vw 0.3vw; */
    font-size: 1.5vw;
    cursor: pointer;
    /* background-color: gray; */

}

.prodQty{
    padding-right: 0;
}

.cartProdDelete{
    color: rgba(255, 0, 0, 0.699);
    cursor: pointer;
    font-size: 1.5vw;
}

.emptyCartimgBx{
    position: relative;
    width: 45vw;
    margin: 0 auto 0 auto;
    z-index: 1;
}

.right{
    width: 35%;
    padding-right: 4vw;
}

.right .checkout{
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    box-shadow: 3px 3px 8px 5px rgba(28, 113, 147, 0.253);
    padding: 2vw;
}

.checkout .checkoutHeading{
    margin-bottom: 2vw;
    font-size: 2vw;
}

.checkoutHeading::after{
    content: "";
    height: 0.2vw;
    width: 2vw;
    margin: 0.3vw 0 0 0;
    background: rgb(28, 114, 147); 
    display: block;
}

.checkout .totalItems{
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 2;
    border-bottom: 1px dashed rgb(212, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vw;
    margin-bottom: 2vw;
}

.total{
    font-size: 1.1vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
}

.subTotal{
    font-size: 1.3vw;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.amnts1{
    font-weight: 700;
}

.amnts{
    font-weight: bold;
    font-size: 1.5vw;
}

.checkOutBtn{
    width: 100%;
    font-size: 1vw;
    font-weight: 600;
    padding: 1vw 0;
    margin-top: 3vw;
    background: rgb(28, 114, 147);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.checkOutBtn:hover{
    background: black;
}