<app-top-nav></app-top-nav>
<div class="container">
    <h1>Your Cart <a class="backToShop btn2" routerLink="/fragrances">Continue Shopping</a></h1>
    <div class="flexBx">
        <div class="left">
            
            <div *ngIf="cartLength > 0">
                <table class="cartProds">
                    <tr *ngFor="let item of items; let i=index">
                        <td>
                            <div class="imgBx">
                                <img src="https://e-scents.herokuapp.com/{{item.cart_item[0].imageSrc}}" [alt]="item.imageAlt">
                            </div>
                        </td>
                        <td>
                            <h4>{{itemBrand[i] && itemBrand[i].data.brandName}}</h4>
                            <p>{{item.cart_item[0].prodName}}</p>
                        </td>
                        <td>
                            <span class="dec" (click)="decQuantity()">-</span><input class='prodQty' type="number" value="{{quantity}}"><span class="inc" (click)="incQuantity()">+</span>
                        </td>
                        <td>
                            <h3>{{item.cart_item[0].price * quantity | currency}}</h3>
                        </td>
                        <td>
                            <button (click)="removeFromCart(item.cart_item[0]._id)"><mat-icon class="cartProdDelete" >delete_forever</mat-icon></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="emptyCart" *ngIf="cartLength == 0">
                <div class="emptyCartimgBx">
                    <img src="../assets/Images/empty-cart.png" alt="">
                </div>
            </div>
        </div>
        <div class="right">
    
            <div class="checkout">
                <h2 class="checkoutHeading">Order</h2>
                <div class="totalItems">    
                    <span>Total Item(s)</span>
                    <span class="amnts1">{{cartLength}}</span>
                </div>
                <div class="total">
                    <span>Sub-total</span>
                    <span class="amnts1">{{totalPrice | currency}}</span>
                </div>
                <div class="total">
                    <span>Tax</span>
                    <span class="amnts1">{{tax | percent}}</span>
                </div>
                <div class="subTotal">
                    <h3>Total</h3>
                    <span class="amnts">{{totalPrice * tax + totalPrice | currency}}</span>
                </div>
                <button class="checkOutBtn">PROCEED TO CHECKOUT</button>
            </div>
    
        </div>
    </div>
</div>
<app-footer></app-footer>