
<app-top-nav></app-top-nav>
<div class="container">
    <h1 class="heading">Women's Perfumes</h1>

    <div class="flexbox">
        <div class="mainLeft">
            <div class="filterBox">
                <details class="filter">
                    <summary>Shop Fragrances<i class="fa-solid fa-angle-down fltr"></i></summary>
                    <p><a routerLink="/men-colognes">Colognes For Men</a></p>
                    <p><a routerLink="/women-perfumes">Perfumes For Women</a></p>
                    <p><a routerLink="/unisex-fragrances">Unisex Fragrances</a></p>
                </details>

            </div>
        </div>
        
        <div class="mainRight">
            <div class="prodContain">
                <div *ngFor="let product of products; let i = index">
                    <a class="" [routerLink]="['/details', product._id]">
                        <div class="productCard">
                            <div class="productimgBx">
                                <img src="http://localhost:2000/{{product.imageSrc}}" [alt]="product.imageAlt">
                            </div>
                            <div class="productName">
                                {{product.prodName}}
                            </div>
                            <div class="productBrand">
                                By: {{itemBrand[i] && itemBrand[i].brandName}}
                            </div>
                            <div class="productDescription">
                                {{product.description}}
                            </div>
                            <div class="productPrice">
                                <span class="price">${{product.price }}</span> <span class="size">{{product.size }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="sect9">
        <div class="newsletterContain">
            <h1>Be the<br>first to know<br>about our <span><I>sales and discounts</I></span></h1>
            <p>Our email subscribers get early access to new<br>launches, promotions and more.</p>
            <div class="newsletterInput">
                <input type="text" name="" id="" placeholder="Type your email here">
                <button>Subscribe</button>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>