<section class="subsription-bx">
    <form class="subscribeForm" (ngSubmit)="addSubscriber()">
        <h1>Be the<br>first to know<br>about our <span><I>sales and discounts</I></span></h1>
        <p>Our email subscribers get early access to new<br>launches, promotions and more.</p>
        <div class="subscribeFormInput">
            <input type="email" name="" id="" placeholder="Type your email here" required>
            <button type="submit">Subscribe</button>
        </div>
    </form>
</section>