<app-top-nav></app-top-nav>
<div class="container">
    <div class="heading-bx">
        <h3 (click)="onGoBack()" class="go-back-link"><i class="fa-solid fa-arrow-left"></i>Go Back</h3>
        <h1 class="heading">Our Brands</h1>
    </div>

    <div class="flexbox">
        <div class="mainLeft">
            <div class="filterBox">
                <details class="filter">
                    <summary>Shop Fragrances <i class="fa-solid fa-angle-down fltr"></i></summary>
                    <p><a routerLink="/men-colognes">Men</a></p>
                    <p><a routerLink="/women-perfumes">women</a></p>
                    <p><a routerLink="/unisex-fragrances">Unisex</a></p>
                    <!-- <p><a routerLink="">Unisex</a></p>
                    <p><a routerLink="">Unisex</a></p> -->
                </details>
            </div>
        </div>

        <div class="mainRight">
            <div class="brandContain">
                <div *ngFor="let brand of brands">
                    <a class="c" [routerLink]="['/brands', brand._id]">
                        <div>
                            <div class="brandCard">
                                <div class="brandimgBx">
                                    <img src="https://e-scents.herokuapp.com/{{brand.logoSrc}}" [alt]="brand.logoAlt">
                                </div>
                                <div class="brandName">
                                    {{brand.brandName}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

   <app-subscribe></app-subscribe>

</div>

<app-footer></app-footer>
